.idea/
.pytest_cache/
.vscode/
__pycache__/
Toward_Open_Set_Face_Generator/img_align_celeba/
Toward_Open_Set_Face_Generator/img_align_celeba_small/
mnist/
VGG_example/run.sh
VGG_example/valprep.sh
venv/
Toward_Open_Set_Face_Generator/c_params.pkl
Toward_Open_Set_Face_Generator/celeba_label/README.txt
Toward_Open_Set_Face_Generator/celeba_label/identity_CelebA.txt
test.png
gan-test.gif
Face_identity_preserve/

Toward_Open_Set_Face_Generator/replication2

tmp.py
params.pkl
Toward_Open_Set_Face_Generator/lfw-align-128
Toward_Open_Set_Face_Generator/backup/c_params.pkl
VAE_example/vae_img/
VAE_example/vae_params.pkl
VAE_example/vae_params2.pkl
VAE_example/vae_params_unuse.pkl
VAE_example/vae_rand/
VAE_example/vae_img_2/
Toward_Open_Set_Face_Generator/img/
MNIST_Test/image_8_3939/
